:root {
  --main-green: #99ddc8;
  --main-white: #fff;
  --main-textcolor: #24303e;
  --secondary-textcolor: #808397;
  --third-textcolor: #24554a;
  --fourth-textcolor: #052c3b;
  --fifth-textcolor: #19536c;
  --heading-color: #a7aaad;
  --testimonial-color: #5b636d;
  --foter-logo: #2c7566;
  --link-color: #458d7e;
}
