.main__header {
  height: 75vh;
  background-image: url("/img/orange@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .main__header {
    background-image: url("/img/orange@2x.png");
  }
}

.header {
  padding-top: 32px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}
.logo__img {
  max-width: 124px;
}
.header__navbar {
  display: none;
}
.header__list {
  display: flex;
  gap: 25px;
  align-items: center;
}
.btn {
  border-radius: 28px;
  padding: 15px 30px;
  background-color: var(--main-white);
  transition: 0.4s ease;
  &:hover {
    background-color: var(--btn-hover);
    .contact {
      color: var(--main-white);
    }
  }
}
.contact {
  color: var(--main-textcolor);
  font-family: "fraunces-9pt-72pt";
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.107px;
  transition: 0.4s ease;
}
.hamburger {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.bar {
  display: block;
  width: 24px;
  height: 2px;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-white);
  border-radius: 1.5px;
}
.header__inner {
  text-align: center;
}
.header__title {
  color: var(--main-white);
  font-family: "fraunces-9pt-72pt";
  font-size: 35px;
  line-height: normal;
  letter-spacing: 6.25px;
  text-transform: uppercase;
}
@media only screen and (min-width: 375px) {
  .header__wrapper {
    margin-bottom: 88px;
  }
  .header__title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 575px) {
  .main__header {
    background-image: url("/img/orange-big@1x.png");
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .main__header {
      background-image: url("/img/orange-big@2x.png");
    }
  }
  .header__navbar {
    display: block;
  }
  .hamburger {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .logo__img {
    max-width: 170px;
  }
  .header__wrapper {
    margin-bottom: 105px;
  }
  .header__title {
    font-size: 56px;
    letter-spacing: 8.75px;
  }
  .header__list {
    gap: 47px;
  }
}
